/*#main-aside-wrapper {
    display: flex;
    flex-direction: column;
}

    #main-aside-wrapper main, #main-aside-wrapper aside {
        background-color: #ddd;
        margin: 10px;
        padding: 10px;
    }

    #main-aside-wrapper aside {
        flex: 1;
        order: 1;
    }

    #main-aside-wrapper main {
        flex: 3;
        order: 2;
    }

@media screen and (min-width: 800px) {
    #main-aside-wrapper {
        flex-direction: row;
    }
}*/
@media (min-width: 320px) and (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: beige;
    }

    header {
        display: flex;
        margin: auto;
        width: 100%;
        /* background: cornflowerblue;*/
        height: 70px;
        height: 120px;
        background: cornflowerblue url(image.png) no-repeat 5% 50%;
    }

    h4 {
        display: flex;
        font-size: 28px;
        text-align: center;
        width: 100%;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        padding: 40px 0 0 0;
        display: block;
    }
    nav {
        display: flex;
        flex-direction:column;
        background-color: dimgray;
        width: 100%;
        margin: 0 auto;
    }

        nav a {
            text-decoration: none;
            color: white;
            width: -webkit-fill-available;
            display: block;
            text-align: center;
            padding: 20px;
        }

            nav a:hover {
                background-color: rgba(30,30,30);
                transition: 0.4s ease;
            }

    html {
        font-size: 15px;
        font-family: 'Times New Roman'
    }

    h1 {
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lavender;
        border: 1px solid black;
    }

    html {
        width: auto;
        height: auto;
        background-color: lightblue;
    }

    table {
        width: 100%;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lavender;
        border: 1px solid black;
    }
    t1 {
        order: 1;
    }
    th {
        margin: 0 auto;
        border: 2px solid black;
    }

    td {
        border: 2px solid black;
        margin: 0 auto;
    }

    tr:nth-child(n) {
        background-color: lavenderblush;
    }

    tr:nth-child(2n) {
        background-color: mintcream;
    }

    tr:nth-child(1) {
        background-color: lightgray;
    }

    h3 {
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lightcyan;
        border: 1px solid black;
    }

    form {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: lightcyan;
        border: 1px solid black;
    }

    lable {
    }

    input {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    textarea {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    select {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
    }

}
@media only screen and (min-width: 1224px) {

    header {
        display: flex;
        margin: auto;
        width: 100%;
        /* background: cornflowerblue;*/
        height: 70px;
        height: 120px;
        background: cornflowerblue url(image.png) no-repeat 5% 50%;
    }

    h4 {
        display: flex;
        font-size: 30px;
        text-align: center;
        width: 600px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        padding: 40px 0 0 0;
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: beige;
        border: 5px solid black;
        padding: 20px 20px 20px 20px;
    }

    nav {
        display: flex;
        background-color: dimgray;
        width: 640px;
        border: 5px solid black;
        margin: 0 auto;
    }

        nav a {
            text-decoration: none;
            color: white;
            width: -webkit-fill-available;
            display: block;
            text-align: center;
            padding: 20px;
        }

            nav a:hover {
                background-color: rgba(30,30,30);
                transition: 0.4s ease;
            }

    html {
        font-size: 15px;
        font-family: 'Times New Roman'
    }

    h1 {
        font-size: 30px;
        text-align: center;
        width: 500px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lavender;
        border: 1px solid black;
    }

    html {
        width: auto;
        height: auto;
        background-color: lightblue;
    }

    table {
        width: 500px;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lavender;
        border: 1px solid black;
    }
    /*t1 {
        order: 1;
    }*/

    th {
        margin: 0 auto;
        border: 2px solid black;
    }

    td {
        border: 2px solid black;
        margin: 0 auto;
    }

    tr:nth-child(n) {
        background-color: lavenderblush;
    }

    tr:nth-child(2n) {
        background-color: mintcream;
    }

    tr:nth-child(1) {
        background-color: lightgray;
    }

    h3 {
        font-size: 30px;
        text-align: center;
        width: 500px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lightcyan;
        border: 1px solid black;
    }

    form {
        text-align: center;
        width: 500px;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: lightcyan;
        border: 1px solid black;
    }

    lable {
    }

    input {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    textarea {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    select {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        width: 500px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
    }
}
@media (min-width: 480px) and (max-width: 1224px) {

    header {
        display: flex;
        margin: auto;
        width: 100%;
        /* background: cornflowerblue;*/
        height: 70px;
        height: 120px;
        background: cornflowerblue url(image.png) no-repeat 5% 50%;
    }

    h4 {
        display: flex;
        font-size: 30px;
        text-align: center;
        width: 600px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        padding: 40px 0 0 0;
        display: block;
    }

    main {
        width: 600px;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: beige;
        border: 5px solid black;
        padding: 20px 20px 20px 20px;
    }

    nav {
        display: flex;
        background-color: dimgray;
        width: 640px;
        border: 5px solid black;
        margin: 0 auto;
    }

        nav a {
            text-decoration: none;
            color: white;
            width: -webkit-fill-available;
            display: block;
            text-align: center;
            padding: 20px;
        }

            nav a:hover {
                background-color: rgba(30,30,30);
                transition: 0.4s ease;
            }

    html {
        font-size: 15px;
        font-family: 'Times New Roman'
    }

    h1 {
        font-size: 30px;
        text-align: center;
        width: 500px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lavender;
        border: 1px solid black;
    }

    html {
        width: auto;
        height: auto;
        background-color: lightblue;
    }

    table {
        width: 500px;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lavender;
        border: 1px solid black;
    }

    th {
        margin: 0 auto;
        border: 2px solid black;
    }

    td {
        border: 2px solid black;
        margin: 0 auto;
    }

    tr:nth-child(n) {
        background-color: lavenderblush;
    }

    tr:nth-child(2n) {
        background-color: mintcream;
    }

    tr:nth-child(1) {
        background-color: lightgray;
    }

    h3 {
        font-size: 30px;
        text-align: center;
        width: 500px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        background-color: lightcyan;
        border: 1px solid black;
    }

    form {
        text-align: center;
        width: 500px;
        margin: 0 auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: lightcyan;
        border: 1px solid black;
    }

    lable {
    }

    input {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    textarea {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    select {
        margin: 0 auto;
        background: mintcream;
        color: black;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        width: 500px;
        margin: auto;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
    }
}
        /*@media screen and (min-width: 600px) {
footer {
    margin: auto;
    width: 100%;
    background: cornflowerblue;
    height: 70px;
    padding: 10px;
    height: 120px;
    font-size: 30px;
    text-align: center;
}
*/

/*@media (min-width: 320px) and (max-width: 480px) 
{
    main {
    width: 480px;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: purple;
    background-color: white;
    border: 5px solid black;
    padding: 20px 20px 20px 20px;
}
    nav {
        width: 480px;
        flex-direction: row;
    }

}*/
/*@media only screen and (min-width: 500px) {
    #linkImg {
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    nav {
        flex-direction: row;
    }

    #table {
        order: 0;
    }
}*/
