
header {
    margin: auto;
    width: 100%;
    background: cornflowerblue;
    height: 70px;
    padding: 10px;
    height: 120px;
}
h4 {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    padding: 30px;
}
main {
    width: 600px;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: purple;
    background-color: beige;
    border: 5px solid black;
    padding: 20px 20px 20px 20px;
}

nav {
    display: flex;
    background-color: dimgray;
    width: 640px;
    border: 5px solid black;
    margin: 0 auto;
}

    nav a {
        text-decoration: none;
        color: white;
        width: -webkit-fill-available;
        display: block;
        text-align: center;
        padding: 20px;
    }

        nav a:hover {
            background-color: rgba(30,30,30);
            transition: 0.4s ease;
        }
html {
    font-size: 15px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Times New Roman'
}
h1 {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: lavender;
    border: 1px solid black;
}
html {
  width: auto;
  height: auto;
  background-color: lightblue;
}
table {
    width: 500px;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: lavender;
    border: 1px solid black;
}
th {
    margin: 0 auto;
    border: 2px solid black;
}

td {
    border: 2px solid black;
    margin: 0 auto;
    
}
tr:nth-child(n) {
    background-color: lavenderblush;
}

tr:nth-child(2n) {
    background-color: mintcream;
}
tr:nth-child(1) {
    background-color: lightgray;
}
h3 {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: lightcyan;
    border: 1px solid black;
}
form {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: purple;
    background-color: lightcyan;
    border: 1px solid black;
}

lable {
    
}
input {
    margin: 0 auto;
    background: mintcream;
    color: black;
}
textarea {
    margin: 0 auto;
    background: mintcream;
    color: black;
}
select {
    margin: 0 auto;
    background: mintcream;
    color: black;
}
h2 {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
}
footer {
    margin: auto;
    width: 100%;
    background: cornflowerblue;
    height: 70px;
    padding: 10px;
    height: 120px;
    font-size: 30px;
    text-align: center;
}